<div class="container">
    <h3 tuiTitle="m">Osu! folder</h3>
    <div class="path">
        @if (osuPath.isLoading()) {
            <span [tuiSkeleton]="true">Loading osu! path...</span>
        } @else {
            <span>{{ osuPath.osuPathLabel() }}</span>
        }
    </div>
    <button
        size="m"
        appearance="flat"
        type="button"
        tuiButton
        [disabled]="osuPath.isLoading()"
        (click)="osuPath.selectManually()"
    >
        {{ osuPath.selectLabel() }}
    </button>

    @if (osuPath.error()) {
        <button
            size="m"
            appearance="flat"
            type="button"
            tuiButton
            [disabled]="osuPath.isLoading()"
            (click)="osuPath.detect()"
        >
            Detect
        </button>
        <span class="hint">Make sure osu! is running for auto-detection to work.</span>
    }
</div>
