<div class="collection-list">
  <div class="list-header">
    <label class="select-all">
      <input
        type="checkbox"
        [checked]="allSelected()"
        (change)="toggleAll()"
      />
      Select all
    </label>
  </div>

  @if (collectionStore.isLoading()) {
    <div class="loading">Loading collections...</div>
  } @else if (!collectionStore.isLoaded()) {
    <div class="empty">Open a collection to get started</div>
  } @else if (collectionStore.collections().length === 0) {
    <div class="empty">No collections found</div>
  } @else {
    <ul role="list">
      @for (collection of collectionStore.collections(); track collection.name) {
        <li
          class="collection-item"
          [class.selected]="isSelected(collection.name)"
          (click)="toggleSelection(collection.name)"
        >
          <input
            type="checkbox"
            [checked]="isSelected(collection.name)"
            (click)="$event.stopPropagation()"
            (change)="toggleSelection(collection.name)"
          />
          <span class="name">{{ collection.name }}</span>
        </li>
      }
    </ul>
  }
</div>