:host {
  display: block;
}

.window-controls {
  display: flex;
  justify-content: flex-end;
  border-bottom: 4px solid var(--tui-border-normal);

  &:hover {
    border-bottom-color: var(--tui-border-hover);
  }

  &:focus-within {
    border-bottom-color: var(--tui-border-focus);
  }
}
