<h1 tuiTitle="l">Onisu</h1>
<p>All the tools you would need for osu! in the same place.</p>

<div
    appearance="warning"
    size="l"
    tuiNotification
>
    <div
        tuiTitle
        [style.padding-inline-end.rem]="2"
    >
        Support
        <div tuiSubtitle>This application is made specifically for osu! Stable. All features are not tested for Lazer</div>
    </div>
    <button
        iconStart="@tui.x"
        tuiIconButton
        type="button"
    >
        Close
    </button>
</div>

<h1 tuiTitle="l">Features</h1>
<div>
    <button
        tuiAppearance="floating"
        tuiSurface
        type="button"
    >
    <fa-icon />
    <h3 tuiTitle="m">Downloader</h3>
    <p tuiSubtitle>Download osu! maps with ease</p>
    </button>
</div>
