:host {
  display: block;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
}

tui-expand {
  .steps-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:not(:first-child) {
      padding-top: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--tui-border-normal);
      padding-bottom: 1rem;
    }
  }

  span {
    display: block;
    white-space: normal;

    strong {
      color: var(--tui-text-action);
    }
  }

  img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: var(--tui-border-radius-m);
  }
}