:host {
  display: block;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
}

tui-expand {

  :only-child {
    display: flex;
    flex-direction: column;
  }

  span {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    

    &:not(:last-child) {
      border-bottom: 1px solid var(--tui-border-normal);
    }

    strong {
      color: var(--tui-text-action);
    }
  }
}