<nav>
    <ul>
        @for (item of (navStore.isUserMode() ? userItems : devItems); track item.route) {
            <li>
                <a
                [routerLink]="item.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: item.route === '/' }"
                [class.disabled]="item.disabled"
                >
                    <fa-icon [icon]=item.icon />
                    <span>{{ item.label }}</span>
                </a>
            </li>
        }
    </ul>
</nav>
